{% extends "base.html" %} {% load static %} {% block content %} {% spaceless %}

<h1>Публікації</h1>
<br />
{% if category %} {{ category }} {% endif %} {% for item in items %}
<div class="articles-row">
  <a href="{{ item.get_absolute_url }}">
    <h4>Стілець</h4>
  </a>
  <h5>12 May 2023</h5>
  <p>
    Стілець - це меблевий предмет, призначений для сидіння. Зазвичай стільці
    складаються з сидіння, спинки та ніг, хоча існують також і варіації стільців
    без спинки або без ніг. <br /><br />Сидіння може мати різну форму та розмір
    і зазвичай виготовляється з дерева, пластику, металу або інших матеріалів.
    Спинка стільця може бути різної форми та висоти, в залежності від
    функціональних вимог та дизайну. Ноги стільця можуть бути зроблені з різних
    матеріалів, таких як дерево, метал або пластик, і можуть мати різні форми,
    включаючи прямі, криві або складені.<br /><br />
    Стільці можуть бути призначені для використання в різних місцях, включаючи
    домашній інтер'єр, офіс, ресторани, кафе та інші місця громадського
    призначення. Для кожної з цих сфер можуть вимагатися різні функціональні та
    дизайнерські характеристики.<br /><br />
    Загалом, стілець є невід'ємною частиною будь-якого інтер'єру, що забезпечує
    зручне та комфортне сидіння людині. Він може мати різні розміри, форми та
    стилі, в залежності від функціональності та естетичних вимог.
  </p>
  <div class="container-image">
    <img
      class="img"
      src="https://baldinelli.ua/image/cache/data/Tovary/Stulya-tualetyi/OSD/OSD-2110/stul-tualet-osd-rb-2110-1_1-1000x1000.JPG.webp"
      alt=""
    />
  </div>
  <div class="clearfix"></div>
</div>
{% endfor %} {% endspaceless %} {% endblock %}
