<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ item.title }}</title>
  </head>

  <body>
    {% load static %}
    <div>
      <ol class="breadcrumb">
        <li><a href="/">Головна</a></li>
        <li><a href="{% url 'articles-list' %}">Публікації</a></li>
        <li>
          <a href="{{ item.category.get_absolute_url }}">Стілець</a>
        </li>
        <li>Що таке стільці?</li>
      </ol>
      <div>
        <h3>{{ item.title }}</h3>
        <h5>12 May 2023</h5>
      </div>
      <div>
        Стілець - це меблевий предмет, призначений для сидіння. Зазвичай стільці
        складаються з сидіння, спинки та ніг, хоча існують також і варіації
        стільців без спинки або без ніг. <br /><br />Сидіння може мати різну
        форму та розмір і зазвичай виготовляється з дерева, пластику, металу або
        інших матеріалів. Спинка стільця може бути різної форми та висоти, в
        залежності від функціональних вимог та дизайну. Ноги стільця можуть бути
        зроблені з різних матеріалів, таких як дерево, метал або пластик, і
        можуть мати різні форми, включаючи прямі, криві або складені.<br /><br />
        Стільці можуть бути призначені для використання в різних місцях,
        включаючи домашній інтер'єр, офіс, ресторани, кафе та інші місця
        громадського призначення. Для кожної з цих сфер можуть вимагатися різні
        функціональні та дизайнерські характеристики.<br /><br />
        Загалом, стілець є невід'ємною частиною будь-якого інтер'єру, що
        забезпечує зручне та комфортне сидіння людині. Він може мати різні
        розміри, форми та стилі, в залежності від функціональності та естетичних
        вимог.
      </div>
      <div class="clearfix">
        <img
          style="width: 600px; height: 600px"
          src="https://baldinelli.ua/image/cache/data/Tovary/Stulya-tualetyi/OSD/OSD-2110/stul-tualet-osd-rb-2110-1_1-1000x1000.JPG.webp"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
