{% extends "base.html" %} {% load static %} {% block content %} {% spaceless %}
{% if categories %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    {% for item in categories %}
    <a href="{{ item.get_absolute_url }}">
      <h4>{{ item.category }}</h4>
    </a>
    {% endfor %}
  </div>
</nav>
{% endif %} {% if articles %} {% for item in articles %}
<div class="article-block">
  <a href="{{ item.get_absolute_url }}">
    <h4 class="h4">Що таке стільці?</h4>
  </a>
  <h5 class="h4">12 May 2023</h5>
  <p class="h4">Все про стільці :)</p>
</div>
{% endfor %} {% endif %}

<div class="article-block">
  <span
    style="display: block; text-align: center; margin: 0 auto; font-size: 30px"
    >На жаль цей персональний блог закривається і залишається тільки один
    стілець :(</span
  >
</div>
<a
  style="text-decoration: none; color: #ffffff"
  href="{% url 'articles-list' %}"
>
  <h4 style="text-decoration: none; font-size: 40px" class="h4">
    Всі публікації
  </h4>
</a>
{% endspaceless %} {% endblock %}
